# Site settings
title: Your Name
email: carmelle@berkeley.edu
description: >-
  I'm a computational biologist passionate about using data science and machine learning to answer fundamental questions in biology. My work sits at the intersection of genomics, bioinformatics, and artificial intelligence.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://carmelle-cat.github.io" # your GitHub Pages URL
github_username: carmelle-cat
linkedin_username: mccatamura

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Collections
collections:
  projects:
    output: true
    permalink: /projects/:path/

# Defaults
defaults:
  - scope:
      path: ""
      type: "projects"
    values:
      layout: "project"
